@font-face {
	font-family: Steelfish;
	src: url('fonts/steelfish rg.ttf');
}

/*Grid View*/
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 13%;}
.col-2 {width: 74%;}
.col-3 {width: 13%;}

/*Background
html {
    background-image: url("images/threechampsmastery.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/*Top Bar*/

#transbox{
	width: 100%;
	height: 235px;
	background-color: #1a1a1a;
	opacity: 0.8;
	padding: 5px;
	visibility: visible;
    position: static;
    top: 2%;
}

#guesswho{
	color: #ffffff;
	font-family: Steelfish;
	font-size: 50px;
	text-align: center;
}

#intro{
	color: #ffffff;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
	display: block;
	width: 1015px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding: 5px;
}

#summonersearch{
	display: block;
	margin-left: auto;
	margin-right: auto;
	visibility: visible;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 0px;
}

/* Champion images */
#champimgs{
    padding: 0px;
    width: 992px;
    margin: auto;
}

img.loadingart{
    padding: 10px;
}

#infobar{
    position: relative;
    padding: 20px;
    width: 945px;
    margin: 0px auto;
}

#sumname{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    background-color: #1a1a1a;
    opacity: 0.8;
    width: 250px;
    text-align: center;
}

#guesstext{
    display: inline-block;
    padding: 10px;
    width: 245px;
    background-color: #1a1a1a;
    opacity: 0.8;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
}

#timertext{
    display: inline-block;  
    padding: 10px;
    background-color: #1a1a1a;
    opacity: 0.8;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
}

#giveup{
    position: relative;
    top: -1px;
    padding: 8px;
    display: inline-block; 
    background-color: #262626;
    opacity: .9;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border: solid 3px;
}

/* bottom search bar */
#guesstransbar{
    padding: 10px;
}

#champguess{
    
    display: block;
	margin-left: auto;
	margin-right: auto;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 5px;
}
