@font-face {
	font-family: Steelfish;
	src: url('fonts/steelfish rg.ttf');
}

/*Grid View*/
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 13%;}
.col-2 {width: 74%;}
.col-3 {width: 13%;}

/*Background
html {
    background-image: url("images/threechampsmastery.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/*Top Bar*/

#transbox{
	width: 100%;
	height: 235px;
	background-color: #1a1a1a;
	opacity: 0.8;
	padding: 5px;
	visibility: visible;
    position: static;
    top: 2%;
}

#guesswho{
	color: #ffffff;
	font-family: Steelfish;
	font-size: 50px;
	text-align: center;
}

#intro{
	color: #ffffff;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
	display: block;
	width: 1015px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding: 5px;
}

#summonersearch{
	display: block;
	margin-left: auto;
	margin-right: auto;
	visibility: visible;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 0px;
}

/* Champion images */
#champimgs{
    padding: 0px;
    width: 992px;
    margin: auto;
    position: relative;
}

img.loadingart{
    padding: 10px;
}

.masterypoints{
    text-shadow: 3px 3px 3px black;
}

#champonepoints{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	color: white;
  	font-size: 48px;
  	font-weight: bold;
  	left: 125px;
  	top: 450px;
  	font-family: Steelfish;
}

#champonemastery{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	left: 105px;
  	top: 410px;
}

#champtwopoints{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	color: white;
  	font-size: 48px;
  	font-weight: bold;
  	left: 457px;
  	top: 450px;
  	font-family: Steelfish;
}

#champtwomastery{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	left: 437px;
  	top: 410px;
}

#champthreepoints{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	color: white;
  	font-size: 48px;
  	font-weight: bold;
  	left: 791px;
  	top: 450px;
  	font-family: Steelfish;
}

#champthreemastery{
	visibility: hidden;
	z-index: 100;
	position: absolute;
  	left: 768px;
  	top: 410px;
}

#infobar{
    position: relative;
    padding: 20px;
    width: 945px;
    margin: 0px auto;
}

#sumname{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    background-color: #1a1a1a;
    opacity: 0.8;
    width: 250px;
    text-align: center;
}

#guesstext{
    display: inline-block;
    padding: 10px;
    width: 245px;
    background-color: #1a1a1a;
    opacity: 0.8;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
}

#timertext{
    display: inline-block;
    padding: 10px;
    background-color: #1a1a1a;
    opacity: 0.8;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
}

#endtext{
    margin-top: -35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #1a1a1a;
    opacity: 0.8;
    font-size: 20px;
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    width: 800px;
    visibility: hidden;
}

#giveup{
    position: relative;
    top: -1px;
    padding: 8px;
    display: inline-block; 
    background-color: #262626;
    opacity: .9;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border: ridge 3px;
}

#giveup:hover{
	background-color: #000000;
	opacity: .8;
}

/* bottom search bar */
#guesstransbar{
	position: relative;
    padding: 10px;
    width:auto;
}

#champguess{
	position: relative;
    display: block;
	margin-left: auto;
	margin-right: auto;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 5px;
}

#greenfade{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
    opacity: 0;
    z-index:-1
}

#redfade{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
    opacity: 0;
    z-index:-1
}

#orangefade{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='13');
    opacity: 0;
    z-index:-1
}

#endtext{
    color: white;
    font-family: "Arial", Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}