@font-face {
	font-family: Steelfish;
	src: url('fonts/steelfish rg.ttf');
}

/*Grid View*/
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 13%;}
.col-2 {width: 74%;}
.col-3 {width: 13%;}

/*Background
html {
    background-image: url("images/threechampsmastery.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/*Top Bar*/
#guesswho{
	color: #ffffff;
	font-family: Steelfish;
	font-size: 64px;
	text-align: center;
}

#intro{
	color: #ffffff;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
	display: block;
	width: 550px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding: 20px;
}

#transbox{
	width: 100%;
	height: 200px;
	background-color: #1a1a1a;
	opacity: 0.8;
	padding: 5px;
	visibility: visible;
    position:absolute;
    top: 30%;
}

#summonersearch{
	display: block;
	margin-left: auto;
	margin-right: auto;
	visibility: visible;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 0px;
}

/* ---------------------- */
#searchbartwo{
    visibility: hidden;
    position: absolute;
    top: 10%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#summonersearch2{
    display: block;
	color: #1a1a1a;
	background-color: #cccccc;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 300px;
	opacity: 0.8;
    border: 0px;
}

